/* Main Stylesheet */

/* Global Styling */

html { 
  background: #fff;
}
body {
  background: #FFEFD8;
  max-width: 50em;
  margin: 0 auto;
  
}

img { width: 50%;
  
  
}

/* Typography */
/* Homepage */
/* Resume */
